.booking-form {
  background-color: $color-light-yellow;

  .card {
    max-width: 1100px;
  }

  button {
    color: $color-onyx;
    background-color: $color-yellow;
    border: 2px solid $color-onyx;

    &:hover {
      background-color: darken($color-yellow, 5%);
      border: 2px solid $color-onyx;
    }

    &:active, &:focus {
      background-color: $color-yellow;
      border: 2px solid $color-onyx;
    }
  }

  h2 {
    color: $color-onyx;
  }
}